nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: #1a1a1a;
  padding: 0 2.5rem;
}
.nav-logo-container {
    max-width: 100px;
}
.nav-logo-container img {
    max-width: 180px;
    height: auto;
}
.navbar-menu-container {
  display: none;
}
.navbar-links-container a {
  margin-right: 3rem;
  text-decoration: none;
  color: #f1f1f1;
  font-size: 1.1rem;
  font-weight: 600;
}
.primary-button {
  padding: 0.9rem 1.75rem;
  background-color: #fe9e0d;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}
.navbar-cart-icon {
  font-size: 1.15rem;
}
.primary-button:hover {
  background-color: #c77d0e;
}
.navbar-menu-container svg {
  font-size: 1.5rem;
  cursor: pointer;
}

@media (max-width: 48rem) {

}
@media (max-width: 64rem) {

}
