nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: #1a1a1a;
  padding: 1rem 2.5rem;
  position: fixed;
}
.nav-logo-container {
    max-width: 100px;
}
.nav-logo-container img {
    max-width: 100px;
    height: auto;
}
.navbar-links-container {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.navbar-links-container li {
  margin-right: 3rem;
}
.navbar-links-container a {
  text-decoration: none;
  color: #f1f1f1;
  font-size: 1.1rem;
  font-weight: 600;
  position: relative;
  transition: color 0.3s ease;
}
.navbar-links-container a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 2px;
  bottom: -4px;
  background-color: #fe9e0d;
  transition: width 0.3s ease;
}
.navbar-links-container a:hover {
  color: #fe9e0d;
}
.navbar-links-container a:hover::after {
  width: 100%;
}
.primary-button {
  padding: 0.9rem 1.75rem;
  background-color: #fe9e0d;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}
.primary-button:hover {
  background-color: #c77d0e;
}
.navbar-links-container {
  display: none;
}
.navbar-menu-container {
  display: block;
}
.navbar-menu-container svg {
  font-size: 1.5rem;
  cursor: pointer;
}
@media (min-width: 64rem) {
  .nav-logo-container img {
      max-width: 160px;
  }
  .navbar-links-container {
    display: flex;
  }
  .navbar-menu-container {
    display: none;
  }
}
