
.work {
       background-color: rgb(211, 208, 208);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
  gap: 80px; 
} 

.icon-card {
  max-width: 200px;
}

.icon-cards-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  margin-top: 10px;
  flex-wrap: wrap;  
  margin-bottom: 20px;

}
.icon-cards-container img {
  max-width: 200px;
}


@media (max-width: 768px) {
.icon-cards-container {
    flex-direction: column;
    align-items: center;
}
/* section.work {
    max-width: 80%;
} */
}
